<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header.html :: headerFragment">
</head>
<body>
    <form action="#" th:action="@{/healthConditionPostData}" th:object="${healthConditionForm}" method="post" class="container alert alert-info">
        <H3 class="text-center">Пристрастявания и зависимости</H3>
        <th:div class="container">

                <!--<label class="labelWidthExtra"> Дата на прегледа:-->
                <!--<input type="text"-->
                <!--th:field="*{healthCondition.examinationDate}" />-->
                <!--</label>-->
                <!--</div>-->
                <br/>
                <div class="row">
                    <div class="col-lg-12" >
                        <label class="labelWidthExtra" > Пристрастявания:
                            <textarea class="text-area text-box multi-line" data-val="true"
                                      data-val-length="Maximum = 1000 characters" data-val-length-max="1000" cols="120" rows="4"></textarea>
                        </label>
                    </div>
                </div>
                <br/>
                <!--<div class="row">-->
                    <!--<label class="labelWidthExtra float-center"> Пристрастявания: <br/>-->
                        <!--<textarea class="text-area text-box multi-line" data-val="true"-->
                                  <!--cols="120" rows="3" id="addictionsDescription" ></textarea>-->
                    <!--</label>-->
                <!--</div>-->
                <br/>
                <div class="row">
                    <div class="col-lg-12" >
                        <label class="labelWidthExtra"> Методологии: <br/>
                            <textarea class="text-area text-box multi-line" data-val="true"
                                      data-val-length="Maximum = 1000 characters" data-val-length-max="1000" cols="120" rows="4" ></textarea>
                        </label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12" >
                        <label class="labelWidthExtra"> Резултати: <br/>
                            <textarea class="text-area text-box multi-line" data-val="true"
                                      data-val-length="Maximum = 1000 characters" data-val-length-max="1000" cols="120" rows="4"></textarea>
                        </label>
                    </div>
                </div>
                <br/>

        </th:div>

        <br><br>

        <div class="col-lg-2">
            <a class="btn btn-primary pull-left " href="home" id="home" role="button">Към начало</a>
        </div>
        <div class="col-lg-3 ">
            <a class="btn btn-primary pull-left " href="lzpk" id="lzpk" role="button">Към ЛЗПК</a>
        </div>

        <input type="submit" value="Зпишете Данните" class="btn btn-primary pull-right"/>

    </form>
</body>
</html>
