<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: headerFragment">
</head>
<body>

<div id="analysis2" th:unless="${isReturnedErrorOnValidation == 'true'}" class="alert alert-error">

    <form action="#" method="post" th:object="${analysis2Form}" class="container alert alert-info">
        <th:div class="container">
        <H3 class="text-center">Диспансерно наблюдение <br>(по Наредба № 39 от 2004 г. за профилактичните прегледи и диспансеризацията,<br>публикувана в ДВ, бр. 106 от 2004 г.)</H3>
        <br/>

            <div class="row">
                <div class="col-lg-12">
                    <br/><br/>
                    <table class="table table-bordered"  >
                        <thread>
                            <tr>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="2"  class="text-center">МКБ<br>10</th>
                                <th style="border: 2px solid white; !important" rowspan="4" colspan="4" class="text-center">Заболявания, които изискват диспансерно<br>наблюдение</th>
                                <th  style="border: 2px solid white; !important" rowspan="1" colspan="4" class="text-center">Брой диспансерни ученици</th>
                            </tr>
                            <tr>
                                <th style="border: 2px solid white; !important" rowspan="1" colspan="2" class="text-center" >7-14 г.</th>
                                <th style="border: 2px solid white; !important" rowspan="1" colspan="2" class="text-center" >14-18 г.</th>
                            </tr>
                            <tr>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="2"  class="text-center">код</th>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="1" class="text-center" >Мом-<br>чета</th>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="1" class="text-center" >Моми-<br>чета</th>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="1" class="text-center" >Мом-<br>чета</th>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="1" class="text-center" >Моми-<br>чета</th>
                            </tr>
                        </thread>
                        <tr>
                            <tr th:each="dispensaryObservationIllnessTypesResult : *{dispensaryObservationIllnessTypesResults}" >
                                <td th:text="${dispensaryObservationIllnessTypesResult.dispensaryObservationIllnessType.dispensaryObservIllnessTypeCode}" style="border: 2px solid white; !important" colspan="2"  ></td>
                                <td th:text="${dispensaryObservationIllnessTypesResult.dispensaryObservationIllnessType.dispensaryObservIllnessTypeName}"  style="border: 2px solid white; !important" colspan="4" ></td>
                                <td th:text="${dispensaryObservationIllnessTypesResult.numberOfStudentDispensaryObservationsBoysAged7to14}" style="border: 2px solid white; !important" colspan="1" class="text-center" ></td>
                                <td th:text="${dispensaryObservationIllnessTypesResult.numberOfStudentDispensaryObservationsGirlsAged7to14}" style="border: 2px solid white; !important" colspan="1" class="text-center" ></td>
                                <td th:text="${dispensaryObservationIllnessTypesResult.numberOfStudentDispensaryObservationsBoysAged14to18}" style="border: 2px solid white; !important" colspan="1" class="text-center" ></td>
                                <td th:text="${dispensaryObservationIllnessTypesResult.numberOfStudentDispensaryObservationsGirlsAged14to18}" style="border: 2px solid white; !important" colspan="1" class="text-center" ></td>
                            </tr>
                        </tr>
                    </table>

                </div>
            </div>
            <br/><br/>

        </th:div>
        <div class="col-lg-2">
            <a class="btn btn-primary рull-right " th:href="@{/home}"  id="home" role="button"  >Към начало</a>
        </div>
    </form>
</div>
</div>
</body>
</html>
