<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: headerFragment">
</head>

<body>
<div class="row">
    <div th:if="${isReturnedErrorOnValidation == 'true'}" class="alert alert-error">
        <H2 class="alert alert-danger text-center" role="alert" style="text:center; width:auto !important">Нямате права да достъпите тази страница!</H2>
    </div>
</div>

<div th:unless="${isReturnedErrorOnValidation == 'true'}" class="alert alert-error">
    <form action="#" method="post"  th:object="${analysis3Form}"  class="container alert alert-info">
        <th:div class="container">
        <H3 class="text-center">Регистрирани заболявания и аномалии при основния профилактичен преглед на децата, <br>проведен в периода септември - декември, отразен в личните им профилактични карти</H3>
        <br/>

            <div class="row">
                <div>

                    <br/><br/>
                    <table class="table table-bordered"  >
                        <thread>
                            <tr>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="2"  class="text-center">Заболявания и аномалии</th>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="2" class="text-center">Шифър</th>
                                <th style="border: 2px solid white; !important" rowspan="2" colspan="2" class="text-center">Брой<br>ученици<br>всичко</th>
                                <th  style="border: 2px solid white; !important" rowspan="1" colspan="6" class="text-center">В това число:</th>
                            </tr>
                            <tr>
                                <th style="border: 2px solid white; !important" rowspan="1" colspan="2"  class="text-center">І клас</th>
                                <th style="border: 2px solid white; !important" rowspan="1" colspan="2"  class="text-center">VІІ клас</th>
                                <th style="border: 2px solid white; !important" rowspan="1" colspan="2"  class="text-center">Х клас</th>
                            </tr>
                        </thread>
                        <tr>

                        <tr th:each="diseasesAndAbnormResult : *{diseasesAndAbnormResults}" >
                            <td th:text="${diseasesAndAbnormResult.diseasesAndAbnormType.diseasesAndAbnormTypeName}"  style="border: 2px solid white; !important" colspan="2" ></td>
                            <td th:text="${diseasesAndAbnormResult.diseasesAndAbnormType.diseasesAndAbnormTypeCode}" style="border: 2px solid white; !important" colspan="2"  ></td>
                            <td th:text="${diseasesAndAbnormResult.numberOfStudentDiseasesAndAbnormalities}"  style="border: 2px solid white; !important" colspan="2" ></td>
                            <td th:text="${diseasesAndAbnormResult.numberOfIClass}"  style="border: 2px solid white; !important" colspan="2" ></td>
                            <td th:text="${diseasesAndAbnormResult.numberOfVIIClass}"  style="border: 2px solid white; !important" colspan="2" ></td>
                            <td th:text="${diseasesAndAbnormResult.numberOfXClass}"  style="border: 2px solid white; !important" colspan="2" ></td>
                        </tr>

                    </table>

                    </div>
            </div>
            <br/><br/>

        </th:div>
        <div class="col-lg-2">
            <a class="btn btn-primary рull-right " th:href="@{/home}"  id="home" role="button"  >Към начало</a>
        </div>
    </form>
</div>
</body>
</html>
