<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: headerFragment">
    <!--<style>-->
        <!--.row{-->
            <!--table, th, td {-->
                <!--border: 1px solid black;-->
                <!--border-collapse: collapse;-->
                <!--width:100%;-->
            <!--}-->
        <!--}-->
    <!--</style>-->
</head>

<body>
<div class="row">
    <div th:if="${isReturnedErrorOnValidation == 'true'}" class="alert alert-error">
        <H2 class="alert alert-danger text-center" role="alert" style="text:center; width:auto !important">Нямате права да достъпите тази страница!</H2>
    </div>
</div>

<div th:unless="${isReturnedErrorOnValidation == 'true'}" class="alert alert-error">
<form action="#" th:action="@{/classmatesPostData}" th:object="${classmatesForm}" method="post"  class="container alert alert-info">
    <span class="border border-danger">
    <H3 class="text-center">Списъци на учениците по класове</H3>
        </span>
    <br/>
    <th:div class="container">
        <div class="row">
            <div class="col-lg-2">
                    <!--/*@thymesVar id="lzpk" type="model"*/-->
                    <select th:field="*{class_}" id="class_">
                        <option value="" selected>Изберете клас</option>
                        <option th:each="class_ : *{classesNomenclature}"
                                th:text="${class_}"
                                th:value="${class_}">
                        </option>
                    </select>
            </div>
            <script th:inline="javascript">
            /*<![CDATA[*/
            function showClassmates() {
                $("#classLetter").change(function () {

                    var class_ =  $("#class_").val();
                    var classLetter = $("#classLetter").val();

                    $.ajax({
                        type: "POST",
                        url: "/classmatesPostData?class_=" + class_ + "&classLetter=" + classLetter,
                        contentType: 'text/plain; charset=UTF-8',
                        success: function () {
                            location.reload();
                        }
                    });
                })
            }
            $(function() { showClassmates(); });
            /*]]>*/
        </script>
            <div class="col-lg-2">
                    <select th:field="*{classLetter}" id="classLetter">
                        <option value="" selected>Изберете паралелка</option>
                        <option th:each="classLetter : *{classLettersNomenclature}"
                                th:text="${classLetter}"
                                th:value="${classLetter}">
                        </option>
                    </select>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <br/><br/>

                <script th:inline="javascript">
                    /*<![CDATA[*/
                    function cleanDataOnStudentRedirect(currentLzpkNumber) {
                        $.ajax({
                            type: "POST",
                            url: "/cleanSessionDataOnStudentRedirect?lzpkNumber="+currentLzpkNumber.value,
                            contentType: 'text/plain; charset=UTF-8',
                            success: function () {
                                location.reload();
                            }
                        });
                    }

                    /*]]>*/

                </script>

                <table style="border: 1px solid white;" >
                    <tr>
                        <th style="border: 1px solid white; width:5% " >Клас</th>
                        <th style="border: 1px solid white; width:5% ">Паралелка</th>
                        <th style="border: 1px solid white; width:5% ">№</th>
                        <th style="border: 1px solid white;  width:20% ">Име</th>
                        <th style="border: 1px solid white; width:5% ">Презиме</th>
                        <th style="border: 1px solid white; width:20% ">Фамилия</th>
                        <th style="border: 1px solid white; width:15% ">Данни за ученика</th>
                    </tr>
                    <tr th:each="classmate : *{classmates}" >
                        <td th:text="${classmate.class_}" style="border: 1px solid white;" ></td>
                        <td th:text="${classmate.classLetter}" style="border: 1px solid white;" ></td>
                        <td th:text="${classmate.studentNumber}" style="border: 1px solid white;" ></td>
                        <td th:text="${classmate.firstName}" style="border: 1px solid white;" ></td>
                        <td th:text="${classmate.middleName}" style="border: 1px solid white;" ></td>
                        <td th:text="${classmate.lastName}" style="border: 1px solid white;" ></td>
                        <td>
                            <a class="btn btn-secondary" th:href="@{/lzpk/} + ${classmate.id}" id="classmateData + ${classmate.id}"
                               th:value="${'/lzpk/' + classmate.id}" onclick="cleanDataOnStudentRedirect(this)" >Към данни за ученика</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
    </th:div>
    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-primary рull-left " href="home" role="button">Към начало</a>
        </div>
    </div>
 </form>
</div>
</body>
</html>
