<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header :: headerFragment">

</head>
<body>
<div id="wrapperId">
<form action="#"   class="container alert alert-info">

    <H2 class="text-center" th:text="Начало" > </H2>
    <br/>
    <H3 class="text-center" th:text="'Основни данни'" > </H3>
    <br/><br/>

    <div class="row">
        <div th:if="${isCreateAdminButtonVisible == 'true'}" >
            <div class="col-lg-4 text-center" >
                <a th:href="createadmin" th:text="'Създай профил на администратор'" id="createAdminLink" class="btn btn-primary pull-center"></a>
            </div>
        </div>
        <br/> <br/>
    </div>
    <div class="row">
            <div th:if="${isCreateGPButtonVisible == 'true'}" >
                <div class="col-lg-4 text-center" >
                    <a th:href="creategp" th:text="'Създай профил на личен лекар'" id="createGpLink" class="btn btn-primary pull-center"></a>
                </div>
            </div>
            <div th:if="${isCreateSMandSTButtonVisible == 'true'}" >
                <div class="col-lg-4 text-center" >
                    <a th:href="createsm" th:text="'Създай профил на училищно медицинско лице'" id="createSchoolMedicLink" class="btn btn-primary pull-center"></a>
                </div>
                <div class="col-lg-4 text-center" >
                    <a th:href="createst" th:text="'Създай профил на учител по ФВС'" id="createSportTeacherLink" class="btn btn-primary pull-center"></a>
                </div>
            </div>
            <br/> <br/>

    </div>
    <div class="row">
        <script th:inline="javascript">
            /*<![CDATA[*/
            function cleanDataOnSchoolRedirect() {
                $("#schoolLink").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/cleanSessionDataOnSchoolRedirect",
                        contentType: 'text/plain; charset=UTF-8',
                        success: function () {
                            location.reload();
                        }
                    });
                })
            }
            $(function() { cleanDataOnSchoolRedirect(); });
            /*]]>*/
        </script>
        <div th:if="${isSchoolButtonVisible == 'true'}" >
            <div class="col-lg-4 text-center" >
                <a th:href="school" id="schoolLink" th:text="'Към данни за училището и училищното медицинско лице'" class="btn btn-primary pull-center"></a>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            function cleanDataOnLzpkRedirect() {
                $("#lzpkLink").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "/cleanSessionDataOnLzpkRedirect",
                        contentType: 'text/plain; charset=UTF-8',
                        success: function () {
                            location.reload();
                        }
                    });
                })
            }
            $(function() { cleanDataOnLzpkRedirect(); });
            /*]]>*/
        </script>
        <div th:if="${isCreateLZPKButtonVisible == 'true'}" >
            <div class="col-lg-4 text-center" >
                <a th:href="@{lzpk}" th:text="'Създай ЛЗПК на ученик'" id="lzpkLink" class="btn btn-primary pull-center"></a>
            </div>
        </div>
        <div th:if="${isClassmatesButtonVisible == 'true'}" >
            <div class="col-lg-4 text-center" >
                <a th:href="classmates" th:text="'Списъци с ученици'" id="classmates" class="btn btn-primary pull-center"></a>
            </div>
        </div>
        <br/> <br/>
    </div>

</form>
</div>
</body>
</html>
