<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form  class="container alert alert-info" th:fragment="linksFragment">
    <th:div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a class="btn btn-primary pull-left " href="#" role="button">Към начало</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary рull-right " href="#" role="button">Към данни за родителите</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary рull-right " href="#" role="button">Към основна здравна информация</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary рull-right" href="#" role="button">Към профилактични прегледи</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary рull-right" href="#" role="button">Към здравословно състояние</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary рull-right" href="#" role="button">Към физическа дееспособност</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary рull-right" href="#" role="button">Към вредни навици и пристрастявания</a>
            </div>

        </div>
    </th:div>
</form>
</body>

</html>