<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: headerFragment">

</head>

<body>

<form action="#" th:action="@{/lzpkPostData}" th:object="${lzpkForm}" method="post"  class="container alert alert-info">

    <H3 class="text-center">Основни данни за Лична здравнопрофилактична карта</H3>
    <br/>
    <th:div class="container">
        <div class="row">
            <div class="col-lg-4 ">
                <label lass="labelWidthExtra"> Номер на ЛЗПК:
                    <input type="text" th:field="*{student.lzpk.lzpkNumber}" />
                </label>
            </div>
            <div class="col-lg-4 ">
                <label lass="labelWidthExtra"> Издадена на:
                    <input type="date" title="Изберете дата" id="lzpkIssueDate" th:field="*{student.lzpk.issueDate}" required="true"
                           oninvalid="this.setCustomValidity('Датата е задължително поле')" oninput="this.setCustomValidity('')" />
                </label>
            </div>
            <div class="col-lg-4">
                <label class="labelWidthExtra">  Издадена от:
                    <input type="text"  th:field="*{student.lzpk.issuedFrom}" />
                </label>
            </div>
        </div>
        <br/>
<!--        <input type="submit" value="Запишете данните за ЛЗПК" class="btn btn-primary pull-right"/>-->
    </th:div>
<!--</form>-->
<!--    <form action="#" th:action="@{/schoolPostData}" th:object="${schoolForm}" method="post"  class="container alert alert-info">-->

        <H3 class="text-center">Лични данни на ученика</H3>
        <br/>

        <th:div class="container">
            <div class="row">
                <div class="col-lg-4 ">
                    <label class="labelWidthExtra"> Име:
                        <input type="text" th:field="*{student.firstName}"  required="true" oninvalid="this.setCustomValidity('Полето е задължително')" oninput="this.setCustomValidity('')"/>
                    </label>
                </div>
                <div class="col-lg-4 ">
                    <label lass="labelWidthExtra"> Презиме:
                        <input type="text" th:field="*{student.middleName}" required="true" oninvalid="this.setCustomValidity('Полето е задължително')" oninput="this.setCustomValidity('')"/>
                    </label>
                </div>
                <div class="col-lg-4">
                    <label class="labelWidthExtra">  Фамилия:
                        <input type="text"  th:field="*{student.lastName}" required="true" oninvalid="this.setCustomValidity('Полето е задължително')" oninput="this.setCustomValidity('')"/>
                    </label>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-4">
                    <label class="labelWidthExtra" th:label="'Въведете дата във формат: 01.01.2021'">  Роден на:
                        <input type="date" title="Изберете дата" th:field="*{student.birthDate}" required="true"
                               oninvalid="this.setCustomValidity('Датата е задължително поле')" oninput="this.setCustomValidity('')" />
                    </label>
                </div>
                <div class="col-lg-4">
                    <label class="labelWidthExtra">  Роден в:
                        <input type="text" th:field="*{student.birthPlace}" />
                    </label>
                </div>
                <div class="col-lg-4">
                    <label class="labelWidthExtra">  ЕГН:
                        <input type="text" th:field="*{student.egn}"  onkeypress="return isNumberKey(event)"
                               maxlength="10" />
                    </label>
                </div>
            </div>
            <br/><br/>
            <!--<script>-->
                <!--$("select option:first").attr("disabled", "true");-->
            <!--</script>-->
            <div class="row">
                <div class="col-lg-4">
                    <label class="labelWidthExtra"> Клас:
                        <!--/*@thymesVar id="lzpk" type="model"*/-->
                        <select th:field="*{student.class_}"
                                oninvalid="this.setCustomValidity('Класът е задължително поле')" required="true" >
                            <option value="" selected>Изберете клас</option>
                            <option th:each="class_ : *{classesNomenclature}"
                                    th:text="${class_}"
                                    th:value="${class_}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-lg-4">
                    <label class="labelWidthExtra"> Паралелка:
                        <select th:field="*{student.classLetter}"
                                oninvalid="this.setCustomValidity('Паралелката е задължително поле')" required="true" >
                            <option value="" selected>Изберете паралелка</option>
                            <option th:each="classLetter : *{classLettersNomenclature}"
                                    th:text="${classLetter}"
                                    th:value="${classLetter}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="col-lg-4">
                    <label class="labelWidthExtra"> Пол:
                        <select  th:field="*{student.sexType.sexTypeCode}" >
                            <option th:each="sexType : *{sexNomenclature}"
                                    th:text="${sexType.sexTypeName}"
                                    th:value="${sexType.sexTypeCode}">
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-lg-6">
                    <label> Телефонен номер на ученика:
                        <input type="text" th:field="*{student.telephoneNumber}" />
                    </label>
                </div>
            </div>
            <input hidden th:field = "*{student.id}" />
            <input hidden th:field = "*{student.lzpk.id}" />
            <input type="submit" value="Запишете данните" class="btn btn-primary pull-right"/>
        </th:div>

    </form>

    <div id="addressWrapperId">
        <div th:insert="address :: addressFragment" ></div>
    </div>
    <form  class="container alert alert-info" th:object="${buttonsForm}">
        <th:div class="container">
            <div class="row">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    function cleanDataOnHomeRedirect() {
                        $("#home").click(function () {
                        alert("cleanDataOnHomeRedirect");
                            $.ajax({
                                type: "POST",
                                url: "/cleanSessionDataOnHomeRedirect",
                                contentType: 'text/plain; charset=UTF-8',
                                success: function (response) {
                                    var placeholder = document.getElementById("wrapperId");
                                    placeholder.innerHTML = "";
                                    $("#wrapperId").html(response);
                                }
                            });
                        })
                    }
                    $(function() { cleanDataOnHomeRedirect(); });
                    /*]]>*/
                </script>
                <div class="col-lg-2">
                    <a class="btn btn-primary рull-right " th:href="@{/home}"  id="home" role="button"  >Към начало</a>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    function cleanDataOnParentsRedirect() {
                        $("#parents").click(function () {
                        alert("cleanDataOnParentsRedirect");
                            $.ajax({
                                type: "POST",
                                url: "/cleanSessionDataOnLzpkRedirect",
                                contentType: 'text/plain; charset=UTF-8',
                                success: function () {
                                    location.reload();
                                }
                            });
                        })
                    }
                    $(function() { cleanDataOnParentsRedirect(); });
                    /*]]>*/
                </script>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right " th:href="@{/gp}"  id="gp" role="button" th:disabled="*{hasNotStudent}" >Към личен лекар</a>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right " th:href="@{/parents}"  id="parents" role="button" th:disabled="*{hasNotStudent}" >Към данни за родителите</a>
                </div>
                <div th:if="${session.containsKey('studentId')}" th:text="${session.studentId}"></div>
                <div class="col-lg-3 text-center">
                    <a th:href="@{/basedata}" class="btn btn-primary рull-right"
                       th:disabled="*{hasNotStudent}"  >Към основна здравна информация</a>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right" href="/healthcondition" role="button"  th:disabled="*{hasNotStudent}"  >Към здравословно състояние</a>.
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right" href="#" role="button"  th:disabled="*{hasNotStudent}"  >Към физическа дееспособност</a>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right" href="/anthropological" role="button"  th:disabled="*{hasNotStudent}"  >Към антропологични показатели</a>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right" href="#" role="button"  th:disabled="*{hasNotStudent}"  >Към профилактични прегледи</a>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right" href="#" role="button"  th:disabled="*{hasNotStudent}"  >Към паразити</a>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-primary рull-right" href="#" role="button"  th:disabled="*{hasNotStudent}"  >Към вредни навици и пристрастявания</a>
                </div>
            </div>


        </th:div>
    </form>

</body>
</html>
