<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header :: headerFragment">

</head>
<body>

<div id="addressWrapperId">
<div th:insert="schoolMedic :: schoolMedicFragment"></div>

<form action="#" th:action="@{/schoolPostData}" th:object="${schoolForm}" method="post"  class="container alert alert-info">

    <H3 class="text-center">Основни данни за учебното заведение</H3>
    <br/>
    <th:div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <label class="labelWidthExtra" > Номер:
                    <input type="text" th:field="*{school.schoolNumber}" />
                </label>
            </div>
            <div class="col-lg-4">
                <label class="labelWidthExtra"> Вид:

                    <select  th:field="*{school.schoolType.id}" >
                        <option th:each="schoolType : *{schoolTypes}"
                                th:text="${schoolType.schoolTypeName}"
                                th:value="${schoolType.id}">
                        </option>
                    </select>
                </label>
            </div>
            <div class="col-lg-4">
                <label class="labelWidthExtra"> Наименование:
                    <input type="text" th:field="*{school.schoolName}" />
                </label>
            </div>

        </div>
        <br/>
        <div calss="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-4">
                <label class="labelWidthExtra"> Вид непосочен в списъка :
                    <input type="text" th:field="*{school.schoolTypeOther}" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label class="labelWidthExtra" > Телефонен номер:
                    <input type="text" th:field="*{school.schoolTelephoneNumber}" />
                </label>
            </div>
        </div>

        <input hidden th:field = "*{school.schoolMedics.id}" />
        <input hidden th:field = "*{school.schoolAddress.id}" />
        <input hidden th:field = "*{school.id}" />

    <br/> <br/>
    <input type="submit" value="Запишете данните за учебното заведение" class="btn btn-primary pull-right"/>
    </th:div>
</form>

    <div th:insert="address :: addressFragment" ></div>

<form  class="container alert alert-info" th:fragment="linksFragment">
    <th:div class="container">
        <div class="row">
            <div class="col-lg-1 ">
                <input type="button" value="Назад" onclick="history.back()" class="btn btn-primary pull-left">
            </div>
            <div class="col-lg-2 ">
                <a class="btn btn-primary pull-left" href="home" role="button" >Към начало</a>
            </div>
        </div>
    </th:div>
</form>
</div>
</body>
</html>
