<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: headerFragment">
</head>

<body>
<form action="#"  th:action="@{/user/login}" th:object="${user}"  method="post"  class="container alert alert-info">
    <br>
    <H2 class="text-center">Информационна система "УЧИЛИЩНО ЗДРАВЕ"</H2>
    <br>
    <H3 class="text-center"><b>Вход в системата</b></H3>
    <br><br>
    <fieldset>
        <div class="row">
            <div th:if="${isReturnedErrorOnValidation == 'true'}" class="alert alert-error">
                <H2 class="alert alert-danger col-lg-6" role="alert" style="text:center; width:auto !important">Невалидно потребителско име или парола!</H2>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-2"><label>Потребителски код *</label></div>
            <div class="col-lg-2"><input th:field="*{userCode}"/></div>
            <div class="col-lg-6"><span th:if="${#fields.hasErrors('userCode')}" class="help-block" th:errors="*{userCode}"></span></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-2"><label>Парола *</label></div>
            <div class="col-lg-2"><input th:field="*{password}"/></div>
            <div class="col-lg-6"><span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}"></span></div>
        </div>
        <br><br>
        <br><br>
        <div class="row">
            <div class="col-lg-9 float-right"></div>
            <div class="col-lg-1 float-right">
                <button type="submit"  class="btn btn-primary" ><b>Вход</b></button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>
