<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: headerFragment">
</head>

<body>
<form action="#"  th:action="@{/user/login}" th:object="${user}"  method="post"  class="container alert alert-info">

    <br>
    <H2 class="text-center">Информационна система "УЧИЛИЩНО ЗДРАВЕ"</H2>
    <br>
    <H3 class="text-center"><b>Вход в системата</b></H3>
    <br><br>

    <fieldset>
        <br><br>
        <div class="row">
            <div class="col-lg-2"><label>Потребителски код *</label></div>
            <div class="col-lg-2"><input th:field="*{userCode}"/></div>
            <div class="col-lg-6"><span th:if="${#fields.hasErrors('userCode')}" class="help-block" th:errors="*{userCode}"></span></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-2"><label>Парола *</label></div>
            <div class="col-lg-2"><input th:field="*{password}"/></div>
            <div class="col-lg-6"><span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}"></span></div>
        </div>
        <br><br>
        <!--<div class="row">-->
            <!--<div class="col-lg-2"><label>E-mail *</label></div>-->
            <!--<div class="col-lg-2"><input th:field="*{email}" /></div>-->
            <!--<div class="col-lg-6"><span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span></div>-->
        <!--</div>-->
        <br><br>
        <div class="row">
            <div class="col-lg-9 float-right"></div>
            <div class="col-lg-1 float-right">
                <button type="submit"  class="btn btn-primary" ><b>Вход</b></button>
            </div>
            <!--<div class="col-lg-1 float-right">-->
                <!--&lt;!&ndash;<button type="submit"  class="btn btn-primary" ><b>Смяна на парола</b></button>&ndash;&gt;-->
                <!--<a th:href="@{/login.html}" class="btn btn-primary" ><b>Смяна на парола</b></a>-->
            <!--</div>-->
        </div>
    </fieldset>
</form>
</body>
</html>
